# ==========================
# Data Processing
# ==========================
pandas==2.2.2
pyarrow==17.0.0

# ==========================
# Kafka
# ==========================
confluent-kafka==2.8.2

# ==========================
# Database
# ==========================
SQLAlchemy==2.0.41
psycopg[binary]==3.2.9

# ==========================
# API
# ==========================
fastapi==0.115.0
uvicorn[standard]==0.34.0
pydantic==2.11.7

# ==========================
# Configuration
# ==========================
PyYAML==6.0.2
python-dotenv==1.1.1

# ==========================
# Development
# ==========================
requests==2.32.4